.bbc{
    color: antiquewhite;
    background-color: rgb(36, 33, 32);
    height: 30px;
    width: 30px;
    position: relative;
    float: left;

    margin: 2px;

    display: flex;
    align-items: center;
    justify-content: center;
}